@{
    ViewData["Title"] = "Контакты";
}

<h2>Контакты</h2>

<div class="contacts">
    <address>
        <div class="container" style="opacity: 1;">
            <div class="blockContacts row">
                <div class="col-sm-4 col-xs-12">
                    <div class="item">
                        <div class="info">
                            <span>Отдел продаж:</span><br>
                            <a href="mailto:info@kip-group.com">info@kip-group.com</a><br>
                            <a href="tel:88007707585" class="phone">8 800 770-75-85</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="item">
                        <div class="info">
                            <span>Отдел кадров:</span><br>
                            <a href="mailto:personal@kip-group.com">personal@kip-group.com</a><br>
                            <a href="tel:+78432671302" class="phone">+7 843 267-13-02</a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 col-xs-12">
                    <div class="item">
                        <div class="info">
                            <span>Техподдержка:</span><br>
                            <a href="mailto:tech@kip-group.com">tech@kip-group.com</a><br>
                            <a href="tel:88007009882" class="phone">8 800 700-98-82</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </address>
    <address>
        <div class="container" style="opacity: 1;">
            <div class="contactBlock2 pt60">
                <div class="contactBlock2__left">

                    <div class="phone-bock1">
                        <div class="phone-bock1__title">Бесплатный звонок по России:</div>
                        <div class="phone-bock1__number">
                            <a href="tel:88007707585">8-800-770-75-70</a>
                        </div>
                    </div>

                    <div class="phone-bock1">
                        <div class="phone-bock1__title">Центральный офис:</div>
                        <p>
                            <strong>ул. Гоголя, 3а, оф. 401</strong>
                        </p>
                        <p>420111, г. Казань</p>
                        <p>
                            <a href="tel:+7(843)2100310">+7 (843) 210-03-10</a>
                        </p>
                        <p>
                            <a href="http://www.kip-group.com" target="_blank">www.kip-group.com</a>
                        </p>
                        <p>
                            <a href="mailto:info@kip-group.com" target="_blank">info@kip-group.com</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </address>
</div>